body{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-bottom: solid 2px black;
}

table{
    width: 100%;
}

tr:first-child td{
    text-align: center;
    border: solid 1px black;
}

.addTaskBTN{
    position: absolute;
    bottom: 32px;
    right: 32px;
    font-size: 3rem;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}